body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #08236d, #083e78);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.thankyou-container {
    text-align: center;
}

button {
    background: #1e90ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fcb;
}
/* Clear Leaderboard button */
.clear-btn {
    background: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.clear-btn:hover {
    background: #c82333;
}
/* Back to Login button */
.back-btn {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.back-btn:hover {
    background: #218838;
}

